

<!DOCTYPE html>
<html>
<head>
</head>

<body>

	<table>
		<thead>
			<tr>
				<th>genre_id</th>
				<th>genre_name</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			<% @genres.each do |genre| %>
			<tr>
				<td><%= genre.id %></td>
				<td><%= genre.genre_name %></td>
				<td><%= link_to "削除", genre_path(genre.id), method: :delete %>
			</tr>
			<% end %>
		</tbody>
	</table>


	<%= link_to "商品登録へ", root_path %>
	<%= link_to "artist登録へ", new_artist_path %>
	<%= link_to "label登録へ", new_label_path %>
	<%= link_to "genre登録へ", new_genre_path %>

</body>
