<!DOCTYPE html>
<html>
<head>
</head>

<body>
	<%= form_for(@artist) do |f| %>
	<p>artist_name</p><%= f.text_field :artist_name, class:"artist_name" %>
	<p>読み仮名</p><%= f.text_field :yomi, class:"yomi" %>
    <%= f.submit "登録" %>
    <% end %>

    <%= link_to "商品登録へ", root_path %>
    <%= link_to "検索へ", items_path %>
</body>