

<!DOCTYPE html>
<html>
<head>
</head>

<body>
	<!-- -----検索フォーム----- -->


    <!-- -----ここまで----- -->


	<table>
		<thead>
			<tr>
				<th><%= sort_link(@search, :id, "id") %></th>
				<!-- => sort_linkでソート機能を追加できるっぽい（idのところをクリックするとid昇順、もう一回クリックするとid降順みたいな） -->
				<th><%= sort_link(@search, :item_name, "item_name") %></th>
				<th><%= sort_link(@search, :artist_yomi, "artist_name") %></th>
				<th><%= sort_link(@search, :label_id, "label_name") %></th>
				<th><%= sort_link(@search, :genre_id, "genre_name") %></th>
				<th><%= sort_link(@search, :sales, "sales") %></th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			<% @search_items.each do |item| %>
			<!-- => こっちは検索結果を表示したいので@itemsを引数として渡す -->
			<tr>
				<td><%= item.id %></td>
				<td><%= item.item_name %></td>
				<td><%= item.artist.artist_name %></td>
				<td><%= item.label.label_name %></td>
				<td><%= item.genre.genre_name %></td>
				<td><%= item.sales %></td>
				<td><%= link_to "削除", item_path(item.id), method: :delete %>
			</tr>
			<% end %>
		</tbody>
	</table>
	<%= link_to "商品登録へ", root_path %>
	<%= link_to "artist登録へ", new_artist_path %>
	<%= link_to "artist一覧へ", artists_path %>
	<%= link_to "label登録へ", new_label_path %>
	<%= link_to "genre登録へ", new_genre_path %>
</body>